*{
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
}
html,body{
	width:100%;
	 background-color: #f4f4f4; 
	height:1000px;
}
.wrapper{
	width:100%;
	height: 100%;
}
/* 导航条开始 */
.wrapper .top-nav-wrap{
	width:100%;
	height: 35px;
	background-color: #f5f5f5;
/* 	border: 1px solid red; */
}
.wrapper .top-nav-wrap .top-nav{
	width: 1190px;
	height: 35px;
	margin: 0px auto;
/* 	border: 1px solid black; */
}
.wrapper .top-nav-wrap .top-nav .top-nav-l{
	float: left;
}
.wrapper .top-nav-wrap .top-nav .top-nav-r{
	float: right;
}
.wrapper .top-nav-wrap .top-nav li{
	float:left;
	margin-right: 7px;
}
.wrapper .top-nav-wrap .top-nav li a{
	color:#6c6c6c;
	font-size: 12px;
	line-height: 35px;
	padding:6px;
}
.wrapper .top-nav-wrap .top-nav li a:hover,
.wrapper .top-nav-wrap .top-nav li .login{
	color: #f40;
}
.wrapper .top-nav-wrap .top-nav .china{
	color: #3c3c3c;
	font-size:12px;
	line-height: 35px;
}
.wrapper .top-nav-wrap .top-nav .china .china-span{
	padding: 6px;
}
.wrapper .top-nav-wrap .top-nav .cutOff span{
	color: #ddd;
	line-height: 35px;
}
.wrapper .top-nav-wrap .top-nav .bgPic{
	display: inline-block;
	width: 6px;
	height: 3px;
	vertical-align: middle;
	background-size:100% 100%;
}
.wrapper .top-nav-wrap .top-nav .xsjPic{
	/* border: 1px solid red; */
	width: 12px;
	height: 8px;
	background: url('img/xtb.jpg');
	background-position: -20px -142px;
}
.wrapper .top-nav-wrap .top-nav .shopCarPic{
	width: 12px;
	height: 12px;
	background-image: url('img/guc.png');
}
.wrapper .top-nav-wrap .top-nav .likePic{
	width: 12px;
	height: 12px;
	background-image: url('img/like.jpg');
}
.wrapper .top-nav-wrap .top-nav .webNavPic{
	width: 12px;
	height: 9px;
	background-image: url('img/wzdh.jpg');
}
/* 导航条结束 */
/* 搜索栏开始 */
.wrapper .search-wrap{
	width:100%;
	height:97px;
	/* border:1px solid black; */
	background-color: #fff;
	padding-top: 24px;
	padding-bottom: 9px;
}
.wrapper .search-wrap .search-con{
	width: 1190px;
	height: 88px;
	/*border: 1px solid black;*/
	margin: 0 auto;
}
.wrapper .search-wrap .search-con .logo-box{
	display: inline-block;
	width: 190px;
	height: 80px;
	vertical-align: middle;
	/* border: 1px solid black; */
}
.wrapper .search-wrap .search-con .logo-box img{
	width: 100%;
	height: 100%;
}
.wrapper .search-wrap .search-con .search-box{
	display: inline-block;
	width: 627px;
	height: 87px;
	vertical-align: middle;
	/*border: 1px solid black;*/
}
.wrapper .search-wrap .search-con .code-box{
	display: inline-block;
	width: 76px;
	height: 90px;
	vertical-align: middle;
	border: 1px solid #ddd;
	position: relative;
	margin-left: 120px;
}
.wrapper .search-wrap .search-con .search-box .search-bd li{
	cursor:pointer;
	float: left;
	width:36px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	color: #f40;
	margin-right: 4px;
	font-size: 12px;
}
.wrapper .search-wrap .search-con .search-box .search-bd li:hover{
	background-color: #ffeee5;
}
.wrapper .search-wrap .search-con .search-box .search-bd .select{
	background:linear-gradient(to right,#ff9000 0,#ff5000 100%); 
	color:#fff;
	font-weight: 700px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
.wrapper .search-wrap .search-con .search-box .search-bd{
	width:627px;
	height: 62px;
	/* border: 1px solid black; */
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-tab{
	width: 610px;
	height: 22px;
	margin-left: 17px;
	/* border: 1px solid black; */
}

.wrapper .search-wrap .search-con .search-box .search-ft{
	width:625px;
	height: 18px;
	/*border: 1px solid black;*/
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel{
	width:627px;
	heigth:40px;
	position: relative; 
	/* border:1px solid black; */
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel .btn{
	position: absolute;
	right: 0px;
	top:0;
	width: 74px; 
	height: 40px;
	z-index: 1000px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel .btn button{
	border:none;
	background:linear-gradient(to right,#ff9000 0,#ff5000 100%); 
	width: 100%; 
	height: 100%; 
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	cursor:pointer;
}
.wrapper .search-wrap .search-con .search-inp-box{
	width:551px;
	height: 36px;
	border: 2px solid #ff5000;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: none;
	overflow: hidden;
}
.wrapper .search-wrap .search-con .search-inp-box .search-inp{
	width: 472px;
	height: 36px;
	overflow: hidden;
}
.wrapper .search-wrap .search-con .search-inp-box .search-inp input{
	width:472px;
	height: 24px;
	line-height: 24px;
	border:none;
	outline: 0;
	background-color: #fff;
	text-indent: 10px;
	padding:6px 16px;
	margin-left: 10px;
}
.wrapper .search-wrap .search-con .search-panel .sousuo,
.wrapper .search-wrap .search-con .search-panel .camera{
	display: inline-block;
	position: absolute;
}
.wrapper .search-wrap .search-con .search-panel .sousuo{
	width:16px;
	height: 24px;
	top:6px;
	left:12px;
	background-image: url('img/fdj.png');
	background-size:100% 100%;
	/* border: 1px solid black; */
}
.wrapper .search-wrap .search-con .search-panel .camera{
	width:35px;
	height: 28px;
	top:8px;
	right:85px;
	background-image: url('img/camera.png');
	background-size:100% 100%;
	/* border: 1px solid black; */
}
.wrapper .search-wrap .search-con .search-box{
	margin-left: 80px;
}
.wrapper .search-wrap .search-con .search-box .search-ft ul li{
	float: left;
}
.wrapper .search-wrap .search-con .search-box .search-ft ul li a{
	font-size: 12px;
	color: #666;
	margin-right: 8px;
}
.wrapper .search-wrap .search-con .search-box .search-ft a:hover,
.wrapper .search-wrap .search-con .search-box .search-ft ul .select a{
	color:#ff5000;
}
.wrapper .search-wrap .search-con .search-box .search-ft .more{
	float:right;
	font-size: 12px;
	color: #666;
	line-height: 18px;
	margin-top: 4px;
}
.wrapper .search-wrap .search-con .code-box .p-tb{
	display: inline-block;
	color: #f40;
	text-align: center;
	line-height: 20px;
	margin: 4px auto 0;
	width: 78px;
	font-size: 14px;

}
.wrapper .search-wrap .search-con .code-box .close{
	position: absolute;
	left: -16px;
	top:-1px;
	height: 14px;
	width: 14px;
	border:1px solid #ddd;
	text-align: center;
	color: #ddd;
	font-size: 14px;
	line-height: 11px;
}
.wrapper .search-wrap .search-con .code-box .code{
	display: block;
	width: 62px;
	height: 62px;
	background-image: url('img/rwm.png');
	background-size:100% 100%;
	margin:0 auto;
}
/*中间导航开始*/
.wrapper .screen-nav-wrap{
	width: 100%;
	height: 30px;
	background:linear-gradient(to right,#ff9000 0,#ff5000);
}
.wrapper .screen-nav-wrap .screen-nav-con{
	width: 1190px;
	height: 30px;
	margin: 0 auto;
}
.wrapper .screen-nav-wrap .screen-nav-con h2{
	float: left;
	width:190px;
	height: 30px;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	background-color: #ff5000;
}
.wrapper .screen-nav-wrap .screen-nav-con ul{
	float: left;
	height: 30px;
	font-size: 16px;
}
.wrapper .screen-nav-wrap .screen-nav-con ul li{
	float: left;
	padding: 0 4px;
	margin: 0 3px;
	line-height: 30px;
	font-weight:700;
	color: #fff;

}
.wrapper .screen-nav-wrap .screen-nav-con ul li a{
	color: #fff;
}
/*主要*/
.wrapper .screen-box-wrap{
	width:1190px;
	height: 632px;
	margin:0 auto;
	/*border: 1px solid black;*/
}
.wrapper .screen-box-wrap .main{
	width: 890px;
	height: 632px;
	/*border: 1px solid black;*/
	float: left;
}
.wrapper .screen-box-wrap .main .main-inner{
	width: 720px;
	height: 522px;
	/*border: 1px solid black;*/
	display: inline-block;
	vertical-align: top;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left{
	width: 190px;
	height: 522px;
	/*background-color: green;*/
	float: left;
	background-color: #fff;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul{
	border: 1px solid #ff5000;
	border-top: none;
	padding-top: 5px;
	padding-bottom: 3px;
	font-size: 14px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li{
	height: 32px;
	width: 162px;
	line-height: 32px;
	font-weight: 400px;
	padding-left: 25px;
	padding-right: 19;
	position: relative;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li a{
	color: #666;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover a{
	color: #ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover{
	background-color: #ffeee5;
	color: #ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li span{
	position: absolute;
	display: inline-block;
	margin-top: 10px;
	right: 14px;
	width: 12px;
	height: 9px;
	background: url('img/xtb.jpg');
	background-position: -130px -20px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con{
	width: 518px;
	height: 511px;
	/*background-color: red;*/
	/*border: 1px solid red;*/
	float: left;
	margin-left: 10px;
	margin-top: 10px;

}
.wrapper .screen-box-wrap .main .col-middle{
	width: 160px;
	height: 522px;
	/*border: 1px solid black;*/
	display: inline-block;
	vertical-align: top;
}
/*轮播图开始*/
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box{
	position: relative;
	width: 520px;
	height: 280px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul{
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -35px;
	/*width: 70px;*/
	background-color: rgba(255,255,255,.3);
	height: 13px;
	border-radius: 10px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li{
	float: left;
	margin: 3px;
	padding: 0;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li a{
	display: block;
	width: 8px;
	padding-top: 8px;
	height: 0;
	border:0px;
	border-radius: 50%;
	background-color: #fff;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li .select{
	background-color: red;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box a img{
	width: 100%;
	height: 100%;
}
/*轮播图结束*/
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall a img{
	width: 100%;
	height: 202px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall{
	width: 520px;
	height: 230px;
	/*border: 1px solid black;*/
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head{
	width: 520px;
	height: 27px;
	border-bottom: 3px solid #ff1648;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head .tm-pic{
	float:left;
	display: inline-block;
	margin-top: 4px;
	width: 136px;
	height: 24px;
	background: url('img/tm.png')no-repeat;
	background-size:100% ;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head .tm{
	float:left;
	display: inline-block;
	margin-top: 13px;
	color: #666;
	font-size: 12px;
	/*border:1px solid black;*/
}
/*上下两个图片*/
.wrapper .screen-box-wrap .main .col-middle .middle-pic1 img{
	margin-top: 10px;
	width: 100%;
	height: 54%;
}
.wrapper .screen-box-wrap .main .col-middle .middle-pic2 img{
	width: 100%;
	height: 206px;
}
.wrapper .screen-box-wrap .main .col-middle .middle-pic2 span{
	color: #a1a1a1;
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	padding-top:6px;
}
/*下边长条开始*/
.wrapper .screen-box-wrap .main .main-bottom{
	width: 888px;
	height: 100px;
	/*border: 1px solid black;*/
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con{
	width: 850px;
	height: 70px;
	/*	*/
	margin-top: 10px;
	padding: 14px 14px 12px 20px;
	background-color: #fff;
	/*display: flex;*/
	/*border:1px solid black;*/
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .logo{
	/*float:left;*/
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbtt-con h4:hover{
	color: #ff5000;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .logo img{
	float: left;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbtt-con{

}

.wrapper .screen-box-wrap .main .main-bottom .bottom-con img{
	float:left;
	width: 175px;
	height: 77px;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbtt-con h4{
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	color: #333;
	margin-top: 2px;
	margin-left: 10px;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbtt-con p{
	/*float:left;*/
	display: inline-block;
	height: 35px;
	width: 489px;
	/*border: 1px solid black;*/
	line-height: 18px;
	overflow: hidden;
	font-size: 14px;
	color: #999;
	margin-top: 2px;
	margin-left: 10px;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbtt-con .tbtt-wb{
	display: inline-block;
	width: 400px;
	height: 73px;
	/*border:1px solid black;*/
	margin-left: 15px;
	/*position: relative;*/

}
/*右侧开始*/
.wrapper .screen-box-wrap .col-right{
	width: 290px;
	height: 620px;
	background-color:#fff;
	/*opacity: 0.3;*/
	/*border:1px solid black;*/
	float: left;
	margin-left: 8px;
	margin-top: 10px;
}
.wrapper .screen-box-wrap .col-right .member{
	width: 290px;
	height: 132px;
	/*border: 1px solid black;*/
	padding: 3px 0 10px 0px;
	background-image: url('img/bj.png');
	background-size:100% 100%;
}
.wrapper .screen-box-wrap .col-right .member .member-bd{
	width: 290px;
	height: 91px;
	/*border-bottom: 1px solid black;*/

}
.wrapper .screen-box-wrap .col-right .member .member-ft{
	width: 290px;
	height: 40px;
	text-align: center;
	margin-top: 8px;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .tx{
	width: 290;
	text-align: center;
	height: 56px;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .tx a{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .tx a img{
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .hello{
	display: block;
	height: 17px;
	line-height: 17px;
	text-align: center;
	color: #333;
	font-size: 12px;
}
.wrapper .screen-box-wrap .col-right .member .member-bd p{
	width: 290px;
	height: 17px;
	line-height: 17px;
	text-align: center;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .icon,
.wrapper .screen-box-wrap .col-right .member .member-bd .club{
	display: inline-block;
	height: 17px;
	position: relative;
	color: #ff5000;
	font-size: 14px;
	line-height: 17px;
	padding: 0 10px 0 20px;
	background: #ffe4db;
	border-radius: 9px;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .pic{
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	position: absolute;
	top:0;
	left: 0;
	background-image: url('img/tjb.jpg');
	background-size:100% 100%;

}
.wrapper .screen-box-wrap .col-right .member .member-ft a{
	display: inline-block;
	width: 75px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	background: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
	border-radius: 4px;
	margin-right: 7px;


}
.wrapper .screen-box-wrap .col-right .member .member-ft .login{
	width: 92px;
}
.wrapper .screen-box-wrap .col-right .message{
	width: 290px;
	height: 26px;
	background-color: #ffe4db;
}
.wrapper .screen-box-wrap .col-right .message a{
	color: #ff5000;
	/*text-align: center;*/
	line-height: 26px;
	position: relative;
	padding-left: 82px;
	font-size: 12px;
}
.wrapper .screen-box-wrap .col-right .message a span{
	position: absolute;
	top:2px;
	right: -20px;
	width: 19px;
	height: 15px;
	background: url(img/yhxx.jpg) no-repeat;
	background-size: 100%;
}
.wrapper .screen-box-wrap .col-right .notice{
	height: 98px;
	padding-top: 10px;
	width: 290px;
	/*border-bottom: 1px solid black;*/
}
.wrapper .screen-box-wrap .col-right .notice li{
	float: left;
}
.wrapper .screen-box-wrap .col-right .notice .title{
	/*width: 290px;*/
	height: 24px;
	margin-top: 4px;
	padding: 0 8px;
	/*border-bottom: 1px solid black;*/
}
.wrapper .screen-box-wrap .col-right .notice .title li{
	width:32px;
	line-height: 20px;
	margin: 0 11px;
	text-align: center;
}
.wrapper .screen-box-wrap .col-right .notice .title li a{
	color: #3c3c3c;
	font-size: 14px;

}
.wrapper .screen-box-wrap .col-right .notice .title .select{
	font-weight: 700;
	border-bottom: 2px solid #f40;
}
.wrapper .screen-box-wrap .col-right .notice .con li{
	height: 25px;
	width: 108px;
	line-height: 25px;
	/*border: 1px solid black;*/
	float: left;
	overflow: hidden;
	padding-right: 5px;
	padding-left: 30px;
	margin-top: 5px;
}
.wrapper .screen-box-wrap .col-right .notice .con li a{
	color: #3c3c3c;
	font-size: 13px;
}
.wrapper .screen-box-wrap .col-right .notice li:hover a{
	color: #ff5000;
}
/*公告结束*/
.wrapper .screen-box-wrap .col-right .moudle{
	height: 232px;
	width: 290px;
	border-top: 1px solid #f4f4f4;
}
.wrapper .screen-box-wrap .col-right .moudle li{
	float: left;
	width: 71px;
	height: 75px;
	border-right: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
}
.wrapper .screen-box-wrap .col-right .moudle li a{
	display:block;
	text-align: center;
}

.wrapper .screen-box-wrap .col-right .moudle li a span{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-top: 10px;
	
}
.wrapper .screen-box-wrap .col-right .moudle li a p:hover{
	color: #ff5000;
}
.wrapper .screen-box-wrap .col-right .moudle li a p {
	color: #3c3c3c;
	font-size: 12px;
	line-height: 24px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic1{
	background:url('img/1.png')no-repeat;
	background-size: 100%;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic2{
	background:url('img/1.png')no-repeat;
	background-size: 100%;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic3{
	background:url('img/1.png')no-repeat;
	background-size: 100%;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic4{
	background:url('img/1.png')no-repeat;
	background-size: 100%;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic5{
	background:url('img/1.png')no-repeat;
	background-size: 100%;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic6{
	background:url('img/1.png')no-repeat;
	background-size: 100%;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic7{
	background:url('img/1.png')no-repeat;
	background-size: 100%;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic8{
	background:url('img/1.png')no-repeat;
	background-size: 100%;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic9{
	background:url('img/1.png')no-repeat;
	background-size: 100%;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic10{
	background:url('img/1.png')no-repeat;
	background-size: 100%;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic11{
	background:url('img/1.png')no-repeat;
	background-size: 100%;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic12{
	background:url('img/1.png')no-repeat;
	background-size: 100%;
}
/*app开始*/
.wrapper .screen-box-wrap .col-right .app{
	height: 110px;
	width: 290px;
}
.wrapper .screen-box-wrap .col-right .app h3{
	font-size: 14px;
	height: 30px;
	line-height:30px;
	padding-left: 14px;
	position: relative;

}
.wrapper .screen-box-wrap .col-right .app h3 a{
	font-size: 12px;
	position: absolute;
	font-weight: 400;
	right: 5px;
	color: #3c3c3c;
}
.wrapper .screen-box-wrap .col-right .app a:hover{
	color: #ff5000;
}
.wrapper .screen-box-wrap .col-right .app ul li{
	float:left;
	height: 32px;
	width: 32px;
	margin-right: 21px;
	margin-bottom: 8px;
}
.wrapper .screen-box-wrap .col-right .app ul li a img{
	height: 32px;
	width: 32px;
}
.wrapper .screen-box-wrap .col-right .app ul{
	height: 84px;
	padding-left: 23px;
}